<!DOCTYPE html>
<html>
  <head>
    <title>EventLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">EventLite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <%= link_to "Accueil", events_path, class:"text-white"%>
      </li>
    <% if user_signed_in? %>
      <li class="nav-item">
         <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "text-white"%>
      </li>
      <% else %>
      <li class="nav-item">    
      <%= link_to "Connexion", new_user_session_path, class: "text-white"%>
    </li>
    <li class="nav-item">
      <%= link_to "Inscription", new_user_registration_path,class: "text-white" %>
    </li>
    <% end %>
    </ul>
  </div>
</nav>
<br><br><br>
<ul>
  <% if user_signed_in? %>
    <li>
      Connecté en tant que : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Mon profil", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Changer d'email / mot de passe", edit_user_registration_path %>
    </li>
</ul>
  <% else %>  
  <div class="d-flex-end">
     <button class="btn btn-primary"> <%= link_to "S'identifier", new_user_session_path, class:"text-white"%></button>

      <button class="btn btn-secondary"><%= link_to "Inscris-toi", new_user_registration_path, class:"text-white"%></button>
</div>
  <% end %>

    <%= yield %>
  </body>
</html>
